<h1>Admin Dashboard</h1>
<% if @users.nil? %>
  <p>No user available, please create one</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>